html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Prevent overflow for the body */
}

.container {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  place-content: center;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  padding: .5em;
  border: 1px solid black;
  width: 40em;
}

.game-cell {
  height: 1em;
  width: 1em;
  background-color: rgb(171, 149, 192);
}

.game-cell.type-EMPTY {
  background-color: rgb(200, 200, 200);
}

.game-cell.type-SNAKE {
  background-color: black;
}

.game-cell.type-FOOD {
  background-color: rgb(255, 72, 0);
}

.hidden {
  display: none !important;
}

#backdrop {
  position: fixed; /* Changed from absolute to fixed */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Ensure no overflow */
}

#overlay-menu {
  position: fixed; /* Changed from absolute to fixed */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Ensure no overflow */
}

#menu-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* background-color: rgba(255, 166, 0, 0.257); */
}

.counter {
  position: relative;
  height: 50%;
  width: 50%;
  display: grid;
  place-content: center;
  font-size: 10em;
  font-weight: bold;
  color: rgb(19, 19, 19);
  -webkit-text-stroke:2px rgb(240, 240, 240);
  user-select: none;
}

.pause-menu {
  position: relative;
  width: 100%;
  background-color: rgba(25, 30, 77, 0.3);
  padding-left: 40%;
}

.pause-menu .choice {
  position: relative;
  font-size: 2em;
  cursor: pointer;
}

.pause-menu .choice.selected {
  -webkit-text-stroke: 2px rgb(0, 132, 198);
}

.pause-menu .choice.selected::before {
  position: absolute;
  left: -2em;
  content: "➤";
}

/* .pause-menu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: aqua;
  border-radius: 1em;
  border: 2px solid black;
  overflow: hidden;
}

.pause-menu .choice {
  font-size: 2em;
  padding: 1em;
  background-color: rgb(44, 44, 44);
  color: rgb(240, 240, 240);
  user-select: none;
  cursor: pointer;
}

.pause-menu .choice:hover {
  background-color: rgb(78, 78, 78);
}

.counter {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  text-align: center;
  font-size: 10em;
  font-weight: bold;
  -webkit-text-stroke:2px rgb(240, 240, 240);
  user-select: none;
} */