html, body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  padding: .5em;
  border: 1px solid black;
  width: 40em;
}

.game-cell {
  height: 1em;
  width: 1em;
  background-color: rgb(171, 149, 192);
}

.game-cell.type-EMPTY {
  background-color: red;
}

.game-cell.type-SNAKE {
  background-color: black;
}

.game-cell.type-FOOD {
  background-color: blue;
}

.hidden {
  display: none !important;
}

#overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #00000050;
}

#pause-menu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: aqua;
  border-radius: 1em;
  border: 2px solid black;
  overflow: hidden;
}

#pause-menu .choice {
  font-size: 2em;
  padding: 1em;
  background-color: rgb(44, 44, 44);
  color: rgb(240, 240, 240);
  user-select: none;
  cursor: pointer;
}

#pause-menu .choice:hover {
  background-color: rgb(78, 78, 78);
}

#counter {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  text-align: center;
  font-size: 10em;
  font-weight: bold;
  -webkit-text-stroke:2px rgb(240, 240, 240);
  user-select: none;
}